[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
arrow = "*"
atomicwrites = "*"
edtf = "*"
flask = "*"
flask-bootstrap = "*"
geojson = "*"
gunicorn = "*"
mapzen-whosonfirst-export = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-export.git",ref = "master"}
mapzen-whosonfirst-geojson = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-geojson.git",ref = "master"}
mapzen-whosonfirst-meta = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-meta.git",ref = "master"}
mapzen-whosonfirst-placetypes = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes.git",ref = "main"}
mapzen-whosonfirst-sources = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-sources.git",ref = "master"}
mapzen-whosonfirst-uri = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-uri.git",ref = "master"}
mapzen-whosonfirst-utils = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-utils.git",ref = "master"}
mapzen-whosonfirst-validator = {editable = true,git = "https://github.com/whosonfirst/py-mapzen-whosonfirst-validator.git",ref = "master"}
requests = "*"
shapely = "<2"
rauth = "*"
flask-login = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
