service: wof-editor

plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-apigw-binary

custom:
  wsgi:
    app: service_wsgi.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
  apigwBinary:
    types:
      - '*/*'

provider:
  name: aws
  runtime: python3.10
  memorySize: 512
  timeout: 30
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  endpointType: REGIONAL
  environment:
    GITHUB_APP_ID: ${file(./config.${self:provider.stage}.yaml):GITHUB_APP_ID}
    GITHUB_APP_SECRET: ${file(./config.${self:provider.stage}.yaml):GITHUB_APP_SECRET}
    SECRET_KEY: ${file(./config.${self:provider.stage}.yaml):SECRET_KEY}
    STRIP_STAGE_PATH: ${file(./config.${self:provider.stage}.yaml):STRIP_STAGE_PATH}

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
